<div id="menu">
<a href="home">Home</a>
<lb>
<a href="about">About</a>
</div>

<h1>This About page works!!!</h1>
<img src="http://truckstoptrixy.files.wordpress.com/2013/07/1001384_10153031536630191_545459707_n.jpg?w=960&h=640">
<p>
  So this has a little bit about not much of anything for now. Sort of sad, I know...I'm working on it...
</p>
